DATABASE_URL=postgresql+psycopg://user:password@host:5432/database

HF_TOKEN=

LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=false
LANGCHAIN_PROJECT=rag-fastapi-huggingface-api

JWT_SECRET_KEY=
JWT_ALGO=HS256

ALLOWED_ORIGINS=
